.tasksList {
    list-style: none;
    padding: 0;
}

.tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
}

.tasksList__item--hidden {
    display: none;
}

.tasksList__button {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 16px;
    background-color: green;
    color: white;
    padding: 5px;
    transition: 1s;
}

.tasksList__button:hover {
    opacity: 80%;
    cursor: pointer;
}

.tasksList__button--remove {
    background-color: red;
}

.tasksList__button--edit {
    background-color: rgb(255, 196, 0);
}

.tasksList__item--done {
    text-decoration: line-through;
}