.buttons {
    padding: 20px;
}

@media(max-width: 576px) {
    .buttons {
        display: flex;
        flex-direction: column;
    }
}

.buttons__button {
    margin-left: 20px;
    border: none;
    color: teal;
    background-color: transparent;
    transition: 1s;
}

@media(max-width: 576px) {
    .buttons__button {
        padding: 10px;
        margin: 0;
    }
}

.buttons__button:hover {
    cursor: pointer;
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    cursor: default;
    color: #999;
}