.buttons {
    display: flex;
    gap: 20px;
}

@media(max-width: 768px) {
    .buttons {
        flex-direction: column;
    }
}

.buttons__button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: teal;
    transition: 1s;
}

.buttons__button:hover {
    cursor: pointer;
    color: hsl(180, 100%, 30%);
}

.buttons__button:disabled {
    color: #999;
    cursor: default;
}